<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="DrickSysApp" Language="1033" Version="1.0.0" Manufacturer="Drickoi" UpgradeCode="8F48BDA6-F2AF-4A16-B374-11C88A6C3B4A"><MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    

    <Feature Id="MainFeature" Title="DrickSysApp" Level="1">
      <ComponentGroupRef Id="DistFiles" />
      <ComponentRef Id="LauncherFileComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>

    <Icon Id="AppIcon" SourceFile="resources\myicon.png" />
  
      <StandardDirectory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="DrickSysApp" />
      </StandardDirectory>
      <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="DrickSysApp" />
      </StandardDirectory>
    </Package>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="LauncherFileComponent" Guid="{A5C94DBD-30B5-4DB2-A4D5-6B14C1E8F0F5}">
        <File Id="LauncherCmd" KeyPath="yes" Source="RunDrickSysApp.cmd" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcutComponent" Guid="{7EE10489-3FCD-4F34-AFF8-BB8C43B7C0C0}">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="DrickSysApp" Target="[INSTALLFOLDER]RunDrickSysApp.cmd" WorkingDirectory="INSTALLFOLDER" Icon="AppIcon" Advertise="no" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Drickoi\DrickSysApp" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
